* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

.bg {
  position: fixed;
  inset: 0;
  background-image: url(./Sunset\ over\ snowy\ slopes\ and\ trees.png);
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  z-index: -1;
}

main {
  height: 100%;
  width: 100%;
  font-family: Arial;
  padding: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}
main #bro {
  width: 25rem;
  height: 50rem;
  background: transparent;
  height: 30rem;
  width: 50rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  margin-left: 4rem;
  position: relative;
  font: bold;
  filter: blur(none);
  padding-top: 8rem;
  padding-bottom: 1rem;
  border-radius: 3rem;
}
main #btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background: transparent;
}
main #btn button {
  height: 2rem;
  width: 20rem;
  font-size: 1rem;
  border-radius: 2rem;
  padding-left: 2px;
  background: rgba(255, 34, 0, 0.823);
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
main #btn button:hover {
  transform: translateY(-4px) scale(1.0005);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.9);
}
main img {
  height: 8rem;
}
main #hy {
  padding-top: 30rem;
  height: 35rem;
  width: 30rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 23rem;
  border-radius: 1.5rem;
  box-shadow: 12px 12px 35px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
  margin-right: 8rem;
  color: rgb(255, 255, 255);
}
main #hy:hover {
  transform: translateY(-4px) scale(1.005);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.9);
}

input, textarea {
  width: 300px;
  margin: 5px 0;
}